:root {
	box-sizing: border-box;

	--background: #010714;
	--darker: #021427;
	--lighter: #031e3a;
	--white: #ece032;
	--accent-1: #00d5e0;
	--accent-2: #d93d3d;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	font-family: "Source Code Pro", monospace;
	font-weight: 400;
	background-color: var(--background);
	color: var(--white);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	max-height: 700px;
	background-color: var(--darker);
	max-width: 450px;
}

div.display {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding-right: 1rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	font-size: 3rem;
	font-weight: 400;
}

div.keyboard-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem 0.25rem;
	padding: 0.75rem;
	background-color: var(--lighter);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

button {
	font-weight: 600;
	border: none;
	margin: 0 auto;
	padding: 0;
	background-color: var(--darker);
	color: var(--white);
	font-size: 2.5rem;
	display: block;
	height: 4rem;
	width: 4rem;
	border-radius: 1.5rem;
}

button.green {
	color: var(--accent-1);
}

button.pink {
	color: var(--accent-2);
}

button.result {
	background-color: var(--accent-2);
}

@media (min-width: 350px) {
	div.display {
		padding-right: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	div.keyboard-wrapper {
		gap: 1rem 0.5rem;
		padding: 2rem 1.5rem;
	}
}

@media (min-width: 370px) {
	div.display {
		padding-right: 1rem;
	}

	div.keyboard-wrapper {
		padding: 2rem 1rem;
	}

	button {
		height: 4.75rem;
		width: 4.75rem;
	}
}

@media (min-width: 450px) or (min-height: 700px) {
	body {
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		border-radius: 2rem;
		overflow: hidden;
	}
}

@media (min-width: 450px) {
	main {
		height: unset;
	}
	div.display {
		padding-right: 1.5rem;
	}

	div.keyboard-wrapper {
		gap: 1.5rem;
		padding: 2.5rem 1.5rem;
	}

	button {
		height: 5rem;
		width: 5rem;
	}
}
@media (min-height: 700px) {
}
